services:
  - type: web
    name: emotion-detector
    runtime: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "streamlit run app.py --server.port $PORT --server.enableCORS false"
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12
    plan: free
